doctype html
html

  {% include head.html %}
  
  block stylesheets
    
  body
    .navbar.navbar-default.navbar-test
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand-test.navbar-brand(href='/') 
          // img(src='img/logo.png')
          {{ site.title }}
        .navbar-collapse.collapse
          
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
            | {% for page in site.pages %}
            |   {% if page.title %}
            li
                a.page-link(href!='{{ page.url | prepend: site.baseurl }}') {{ page.title }}
            | {% endif %}
            | {% endfor %}

    .page-content          
      .wrapper
        {{ content }}

    {% include footer.html %}
    
    block scripts
