<!DOCTYPE html>
<html>{% include head.html %}
  <body>
    <div class="navbar navbar-default navbar-test">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      </div><a href="/" class="navbar-brand-test navbar-brand">{{ site.title }}</a>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </div>
    <div class="page-content">         
      <div class="wrapper">{{ content }}</div>
    </div>{% include footer.html %}
  </body>
</html>